 body {
        font: tahoma arial; 
    }
    
    input, button {
        border: none;
        border-radius: 5px;
    }
    .td {
        float: left;
        width: 330px;
    }
    .table {
        width: 100%;
    }
    .tr {
        float: none;
        width: 1000px;
    }
    .img_delete {
        width: 12px;
        height: 12px;
    }
    .btn_copy {
        width: 60px;
        height: 40px; 
    }
    .btn_copy {
        width: 60px;
        height: 40px; 
    }
    .bordered, .a1, .a2, .a3 {
        /*border: 1px solid black;
        border-collapse: collapse;*/
        display: inline-block;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        border: none;
    
    }
    table.results {
        width: 90%;
        /*border: 1px dotted lightgray;*/
        border-radius: 30px;
        padding-top: 15px;
    }
    .btn_download
    {
        margin: 10px;
        padding: 10px;
    }
    #Search_terms {
        height: 100px;
        width: 350px;
        border: 1px solid lightgray;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 20px;
    }
    #Extract {
        width: 100px; 
        height: 40px; 
        font-size: 14px;
        color: green;
        margin: 20px;
    }
    tr.color1 {
        background-color: #eee;   
    }
    tr.color2 {
        background-color: white;
    }
    #header {
        background: #f1f1f1;
        border-bottom: 1px solid #e5e5e5;
        font: 81.25% arial, helvetica, sans-serif;
        width: 100%;
        height: 100px;
    }
    body{
        margin: 0;
        font-size: 16px;
    }
    input, button {font-size: 16px; font-family: arial, helvetica, sans-serif;}
    div, textarea, td {font-size: 14px; font-family: arial, helvetica, sans-serif;}
    .help{
        float: right;
        margin: 40px;
        text-align: right;
        width: 20%
    }
    #page_title
    {
        padding-left: 20px;
        width: 40%
    }
    
    #results_container{
        height: 350px;  width: 90%; display: block; text-align: center; float:none; overflow-y: scroll; border: 1px solid lightgray;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        margin: 5px 10px 20px;
    }
    
    #message_box {
        display: none;
    }

    
    
    .th1, .th2, .th3 { font-size: 14px;}
    .th1 {padding-left: 40px;}
    
    
    .th1, .td1, .a1 {text-align: left; width: 760px;}
    .th2, .td2, .a2 {text-align: left; width: 220px;}
    .th3, .td3, .a3 {text-align: left;}
    .a1 {width: 300px;}
    .a2 {width: 120px;}
    .td1 {}
    .td2 {}
    .td3 {}
    .td1 { padding-left: 20px;}
    
    
    .headers_table { width: 90%;}