/* $Id $ */
*{ margin: ; padding: ; }* 
body { font: .8em Tahoma, "Trebuchet MS", Tahoma, sans-serif; line-height: 1.6em; background: #fff url(../styles/images/bg.gif) repeat-x; color: #8E8E91; }
a {	color: #EB0000;	background: inherit; text-decoration: none; }
a:hover { color: #808080; background: inherit; text-decoration: underline; }
p { margin: 10px 0 15px 0; }
h1 { font: normal 2.8em Georgia, "Times New Roman", Arial; color: #444; }
h2 { font: normal 1.7em Georgia, "Times New Roman", Arial; margin: 0 0 10px; padding: 0 0 3px; color: #333; border-bottom: 1px solid #eee; }
img { border: 0; }
body {
  margin:0;
  background-color:#fff ;
  padding:0 15px 0 10px;
}
body.sidebars      { padding:0 270px 0 220px; }
body.sidebar-left  { padding:0  15px 0 220px; }
body.sidebar-right { padding:0 270px 0  10px; }


body, p, td {
  font:12px/1.4em "Verdana", "Arial", "Helvetica", sans-serif;
}

dl { padding:12px 0; margin:0; }

p  { margin:0; padding:2px 4px; }
h1 { margin:0; padding:8px 0; font-size:1.6em; }
h2 { margin:0; padding:4px 0; font-size:1.4em; }

a:link, a:visited {
  color:#027AC6;
  text-decoration:none;
}

a:hover {
  color:#0062A0;
  text-decoration:underline;
}

a:active, a.active {
  color:#5895be;
}


#header {
  margin:0 0 10px;
}
#butons {
  margin:0 0 10px;
}
#footer {
  clear:both;
  margin:0 10px;
  padding:10px 0 0 0;
  border-bottom:0px solid #000;
}

.sidebars      #header, .sidebars      #footer { margin-left:-210px; margin-right:-260px; }
.sidebar-left  #header, .sidebar-left  #footer { margin-left:-210px; }
.sidebar-right #header, .sidebar-right #footer { margin-right:-260px; }

.column {
	pading: 10px;
  float:left;
  position:relative;*/
}

#center {
  width:100%;
}

#left {
  width:200px;
  margin-left:-100%;
  right:220px;
  padding:0 10px;
}

#right {
  width:250px;
  margin-right:-270px;
  padding:0 10px;
}

.block-region {
  margin:0;
}



/*
 *  Rounded Corners
 */
.block .content, #center .content, #header .content, #footer .content {
  border-left:1px solid #000;
  border-right:1px solid #000;
  background-color:#fff;
  padding:0 5px;
  clear:both;
}


.block {
  margin:0 0 10px 0;
}

.block-header, .block-footer {
  margin:0;
  padding:0;
}

#header .block .content, #footer .block .content, #center .node .content {
  border:none;
  padding:0;
  background-color:transparent;
}


/**
 *   BLOCK GRADIENTS
 */




/**
 *  TABLES
 */
table {
  margin:1em 0;
  width:100%;
}
tbody {
  border-top: 0px solid #eee;
}

thead th {
  border-bottom:2px solid #ddd;
  color:#494949;
  font-weight:bold;
}

th a:link, th a:visited {
  color:#6f9dbd;
}

td, th {
  padding:.3em .5em;
}

tr.even, tr.odd, tbody th {
  border:solid #ccc;
  border-width:1px 0;
}

tr.odd, tr.info {
  background-color:#eee;
}

tr.even {
  background-color:#fff;
}

tr.odd td.active {
  background-color:#ddecf5;
}

tr.even td.active {
  background-color:#e6f1f7;
}

.form-checkboxes, .form-radios {
  margin:0;
}

.profile {
  padding:1em 0;
  margin:0;
}

fieldset {
  border:1px solid #777;
}

#logo-floater {
  position:absolute;
}
#logo-floater h1 {
  padding:0;
}
#logo-floater a {
  line-height:90px;
  position:relative;
}
#logo-floater img {
  float:left;
  padding:10px 15px 0 10px;
}
#header .content {
  height:85px;
}

#header ul.primary-links {
  float:justify;
  position:relative;
  margin:0;
  padding:0;
}


div.messages {
  border:1px solid #BBBBBB;
  background-color:#FAFAFA;
  padding:8px;
  margin:8px;
}
div.status {
  border-color:#7CBB7C;
  background-color:#F0FFF0;
}
div.error {
  border-color:#BB7C7C;
  background-color:#FFF0F0;
}

tr.error {
  background-color:#FFEEEE;
}
tr.warning {
  background-color:#FCFFCF;
}
