body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td
{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
ol,ul{list-style:none;}
address,caption,cite,code,dfn,em,th,var
{font-style:normal;font-weight:normal;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
a:focus{outline:none}.container{width:950px;margin:0 auto;}.showgrid{background:url('http://core.assetnation.com/includes/images/grid.png');}.column,div.span-1,div.span-2,div.span-3,div.span-4,div.span-5,div.span-6,div.span-7,div.span-8,div.span-9,div.span-10,div.span-11,div.span-12,div.span-13,div.span-14,div.span-15,div.span-16,div.span-17,div.span-18,div.span-19,div.span-20,div.span-21,div.span-22,div.span-23,div.span-24{float:left;margin-right:10px;}.last,div.last{margin-right:0;}.span-1{width:30px;}.span-2{width:70px;}.span-3{width:110px;}.span-4{width:150px;}.span-5{width:190px;}.span-6{width:230px;}.span-7{width:270px;}.span-8{width:310px;}.span-9{width:350px;}.span-10{width:390px;}.span-11{width:430px;}.span-12{width:470px;}.span-13{width:510px;}.span-14{width:550px;}.span-15{width:590px;}.span-16{width:630px;}.span-17{width:670px;}.span-18{width:710px;}.span-19{width:750px;}.span-20{width:790px;}.span-21{width:830px;}.span-22{width:870px;}.span-23{width:910px;}.span-24,div.span-24{width:950px;margin-right:0;}
input.span-1,textarea.span-1,input.span-2,textarea.span-2,input.span-3,textarea.span-3,input.span-4,textarea.span-4,input.span-5,textarea.span-5,input.span-6,textarea.span-6,input.span-7,textarea.span-7,input.span-8,textarea.span-8,input.span-9,textarea.span-9,input.span-10,textarea.span-10,input.span-11,textarea.span-11,input.span-12,textarea.span-12,input.span-13,textarea.span-13,input.span-14,textarea.span-14,input.span-15,textarea.span-15,input.span-16,textarea.span-16,input.span-17,textarea.span-17,input.span-18,textarea.span-18,input.span-19,textarea.span-19,input.span-20,textarea.span-20,input.span-21,textarea.span-21,input.span-22,textarea.span-22,input.span-23,textarea.span-23,input.span-24,textarea.span-24{border-left-width:1px!important;border-right-width:1px!important;padding-left:5px!important;padding-right:5px!important;}
input.span-1,textarea.span-1{width:18px!important;}
input.span-2,textarea.span-2{width:58px!important;}
input.span-3,textarea.span-3{width:98px!important;}
input.span-4,textarea.span-4{width:138px!important;}
input.span-5,textarea.span-5{width:178px!important;}
input.span-6,textarea.span-6{width:218px!important;}
input.span-7,textarea.span-7{width:258px!important;}
input.span-8,textarea.span-8{width:298px!important;}
input.span-9,textarea.span-9{width:338px!important;}
input.span-10,textarea.span-10{width:378px!important;}
input.span-11,textarea.span-11{width:418px!important;}
input.span-12,textarea.span-12{width:458px!important;}
input.span-13,textarea.span-13{width:498px!important;}
input.span-14,textarea.span-14{width:538px!important;}
input.span-15,textarea.span-15{width:578px!important;}
input.span-16,textarea.span-16{width:618px!important;}
input.span-17,textarea.span-17{width:658px!important;}
input.span-18,textarea.span-18{width:698px!important;}
input.span-19,textarea.span-19{width:738px!important;}
input.span-20,textarea.span-20{width:778px!important;}
input.span-21,textarea.span-21{width:818px!important;}
input.span-22,textarea.span-22{width:858px!important;}
input.span-23,textarea.span-23{width:898px!important;}
input.span-24,textarea.span-24{width:938px!important;}.append-1{padding-right:40px;}.append-2{padding-right:80px;}.append-3{padding-right:120px;}.append-4{padding-right:160px;}.append-5{padding-right:200px;}.append-6{padding-right:240px;}.append-7{padding-right:280px;}.append-8{padding-right:320px;}.append-9{padding-right:360px;}.append-10{padding-right:400px;}.append-11{padding-right:440px;}.append-12{padding-right:480px;}.append-13{padding-right:520px;}.append-14{padding-right:560px;}.append-15{padding-right:600px;}.append-16{padding-right:640px;}.append-17{padding-right:680px;}.append-18{padding-right:720px;}.append-19{padding-right:760px;}.append-20{padding-right:800px;}.append-21{padding-right:840px;}.append-22{padding-right:880px;}.append-23{padding-right:920px;}.prepend-1{padding-left:40px;}.prepend-2{padding-left:80px;}.prepend-3{padding-left:120px;}.prepend-4{padding-left:160px;}.prepend-5{padding-left:200px;}.prepend-6{padding-left:240px;}.prepend-7{padding-left:280px;}.prepend-8{padding-left:320px;}.prepend-9{padding-left:360px;}.prepend-10{padding-left:400px;}.prepend-11{padding-left:440px;}.prepend-12{padding-left:480px;}.prepend-13{padding-left:520px;}.prepend-14{padding-left:560px;}.prepend-15{padding-left:600px;}.prepend-16{padding-left:640px;}.prepend-17{padding-left:680px;}.prepend-18{padding-left:720px;}.prepend-19{padding-left:760px;}.prepend-20{padding-left:800px;}.prepend-21{padding-left:840px;}.prepend-22{padding-left:880px;}.prepend-23{padding-left:920px;}
div.border{padding-right:4px;margin-right:5px;border-right:1px solid #eee;}
div.colborder{padding-right:24px;margin-right:25px;border-right:1px solid #eee;}.pull-1{margin-left:-40px;}.pull-2{margin-left:-80px;}.pull-3{margin-left:-120px;}.pull-4{margin-left:-160px;}.pull-5{margin-left:-200px;}.pull-6{margin-left:-240px;}.pull-7{margin-left:-280px;}.pull-8{margin-left:-320px;}.pull-9{margin-left:-360px;}.pull-10{margin-left:-400px;}.pull-11{margin-left:-440px;}.pull-12{margin-left:-480px;}.pull-13{margin-left:-520px;}.pull-14{margin-left:-560px;}.pull-15{margin-left:-600px;}.pull-16{margin-left:-640px;}.pull-17{margin-left:-680px;}.pull-18{margin-left:-720px;}.pull-19{margin-left:-760px;}.pull-20{margin-left:-800px;}.pull-21{margin-left:-840px;}.pull-22{margin-left:-880px;}.pull-23{margin-left:-920px;}.pull-24{margin-left:-960px;}.pull-1,.pull-2,.pull-3,.pull-4,.pull-5,.pull-6,.pull-7,.pull-8,.pull-9,.pull-10,.pull-11,.pull-12,.pull-13,.pull-14,.pull-15,.pull-16,.pull-17,.pull-18,.pull-19,.pull-20,.pull-21,.pull-22,.pull-23,.pull-24{float:left;position:relative;}.push-1{margin:0 -40px 1.5em 40px;}.push-2{margin:0 -80px 1.5em 80px;}.push-3{margin:0 -120px 1.5em 120px;}.push-4{margin:0 -160px 1.5em 160px;}.push-5{margin:0 -200px 1.5em 200px;}.push-6{margin:0 -240px 1.5em 240px;}.push-7{margin:0 -280px 1.5em 280px;}.push-8{margin:0 -320px 1.5em 320px;}.push-9{margin:0 -360px 1.5em 360px;}.push-10{margin:0 -400px 1.5em 400px;}.push-11{margin:0 -440px 1.5em 440px;}.push-12{margin:0 -480px 1.5em 480px;}.push-13{margin:0 -520px 1.5em 520px;}.push-14{margin:0 -560px 1.5em 560px;}.push-15{margin:0 -600px 1.5em 600px;}.push-16{margin:0 -640px 1.5em 640px;}.push-17{margin:0 -680px 1.5em 680px;}.push-18{margin:0 -720px 1.5em 720px;}.push-19{margin:0 -760px 1.5em 760px;}.push-20{margin:0 -800px 1.5em 800px;}.push-21{margin:0 -840px 1.5em 840px;}.push-22{margin:0 -880px 1.5em 880px;}.push-23{margin:0 -920px 1.5em 920px;}.push-24{margin:0 -960px 1.5em 960px;}.push-1,.push-2,.push-3,.push-4,.push-5,.push-6,.push-7,.push-8,.push-9,.push-10,.push-11,.push-12,.push-13,.push-14,.push-15,.push-16,.push-17,.push-18,.push-19,.push-20,.push-21,.push-22,.push-23,.push-24{float:right;position:relative;}.prepend-top{margin-top:1.5em;}.append-bottom{margin-bottom:1.5em;}.box{padding:1.5em;margin-bottom:1.5em;background:#E5ECF9;}
hr{background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}
hr.space{background:#fff;color:#fff;visibility:hidden;}.clearfix:after,.container:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}.clearfix,.container{display:block;}.clear{clear:both;}
a.button,button{display:block;float:left;margin:0.7em 0.5em 0.7em 0;padding:5px 10px 5px 7px;border:1px solid #98999a;border-top:1px solid #eee;border-left:1px solid #eee;background-color:#f5f5f5;font-family:"Lucida Grande",Tahoma,Arial,Verdana,sans-serif;font-size:100%;line-height:130%;text-decoration:none;font-weight:bold;color:#565656;cursor:pointer;}
button{width:auto;overflow:visible;padding:4px 10px 3px 7px;}
button[type]{padding:4px 10px 4px 7px;line-height:17px;}*:first-child+html button[type]{padding:4px 10px 3px 7px;}
button img,a.button img{margin:0 3px -3px 0!important;padding:0;border:none;width:16px;height:16px;float:none;}
button:hover,a.button:hover{background-color:#dff4ff;border:1px solid #c2e1ef;color:#336699;}
a.button:active{background-color:#6299c5;border:1px solid #6299c5;color:#fff;}
body .positive{color:#529214;}
a.positive:hover,button.positive:hover{background-color:#E6EFC2;border:1px solid #C6D880;color:#529214;}
a.positive:active{background-color:#529214;border:1px solid #529214;color:#fff;}
body .negative{color:#d12f19;}
a.negative:hover,button.negative:hover{background-color:#fbe3e4;border:1px solid #fbc2c4;color:#d12f19;}
a.negative:active{background-color:#d12f19;border:1px solid #d12f19;color:#fff;}.pod li{list-style-type:none;}.pod h2.pod-title{padding:6px 0px 6px 15px;color:#fff;}.pod h2.pod-title a{color:#fff;font-weight:bold;text-decoration:none;}.pod h2.pod-title-green{background:transparent url('http://core.assetnation.com/includes/images/Pod/PodTitleBGGreen.png') repeat-x 0 0;}.pod h2.pod-title-grey{background:transparent url('http://core.assetnation.com/includes/images/Pod/PodTitleBGGrey.png') repeat-x 0 0;}.pod h2.pod-title-blue{background:transparent url('http://core.assetnation.com/includes/images/Pod/PodTitleBGBlue.png') repeat-x 0 0;}.pod .pod-body{padding:10px;margin-bottom:10px;}.pod .pod-body-green{background:transparent url('http://core.assetnation.com/includes/images/Pod/GreenFadeVertical.png') repeat-x 0 0;}.pod .pod-body-grey{background:transparent url('http://core.assetnation.com/includes/images/Pod/GreyFadeVertical.png') repeat-x 0 0;}.pod .pod-body-blue{background:transparent url('http://core.assetnation.com/includes/images/Pod/GreyFadeVertical.png') repeat-x 0 0;}.pod .pod-body-dark-green{background:transparent url('http://core.assetnation.com/includes/images/Pod/DarkGreenFadeVertical.png') repeat-x 0 0;color:#fff;}.pod .pod-body-dark-green a{color:#fff;}.pod .pod-body-dark-green a:hover{color:#006699;}.sf-menu,*.sf-menu{margin:0;padding:0;list-style:none;}.sf-menu{line-height:1.0;}.sf-menu ul{position:absolute;top:-999em;width:10em;}.sf-menu ul li{width:100%;}.sf-menu li:hover{visibility:inherit;}.sf-menu li{float:left;position:relative;}.sf-menu a{display:block;position:relative;}.sf-menu li:hover ul,.sf-menu li.sfHover ul{left:0;top:2.5em;z-index:99;}
ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul{top:-999em;}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul{left:10em;top:0;}
ul.sf-menu li li:hover li ul,ul.sf-menu li li.sfHover li ul{top:-999em;}
ul.sf-menu li li li:hover ul,ul.sf-menu li li li.sfHover ul{left:10em;top:0;}#colorbox,#cboxOverlay,#cboxWrapper{position:absolute;top:0;left:0;z-index:9999;overflow:hidden;}#cboxOverlay{position:fixed;width:100%;height:100%;}#cboxMiddleLeft,#cboxBottomLeft{clear:left;}#cboxContent{position:relative;overflow:visible;}#cboxLoadedContent{overflow:auto;}#cboxLoadedContent iframe{display:block;width:100%;height:100%;border:0;}#cboxTitle{margin:0;}#cboxLoadingOverlay,#cboxLoadingGraphic{position:absolute;top:0;left:0;width:100%;}#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow{cursor:pointer;}#cboxOverlay{background:#000;}#colorbox{}#cboxTopLeft{width:14px;height:14px;background:url('http://core.assetnation.com/includes/images/Colorbox/controls.png') 0 0 no-repeat;}#cboxTopCenter{height:14px;background:url('http://core.assetnation.com/includes/images/Colorbox/border.png') top left repeat-x;}#cboxTopRight{width:14px;height:14px;background:url('http://core.assetnation.com/includes/images/Colorbox/controls.png')-36px 0 no-repeat;}#cboxBottomLeft{width:14px;height:43px;background:url('http://core.assetnation.com/includes/images/Colorbox/controls.png') 0 -32px no-repeat;}#cboxBottomCenter{height:43px;background:url('http://core.assetnation.com/includes/images/Colorbox/border.png') bottom left repeat-x;}#cboxBottomRight{width:14px;height:43px;background:url('http://core.assetnation.com/includes/images/Colorbox/controls.png')-36px -32px no-repeat;}#cboxMiddleLeft{width:14px;background:url('http://core.assetnation.com/includes/images/Colorbox/controls.png')-175px 0 repeat-y;}#cboxMiddleRight{width:14px;background:url('http://core.assetnation.com/includes/images/Colorbox/controls.png')-211px 0 repeat-y;}#cboxContent{background:#fff;}#cboxLoadedContent{margin-bottom:5px;}#cboxLoadingOverlay{background:url('http://core.assetnation.com/includes/images/Colorbox/loading_background.png') center center no-repeat;}#cboxLoadingGraphic{background:url('http://core.assetnation.com/includes/images/Colorbox/loading.gif') center center no-repeat;}#cboxTitle{position:absolute;bottom:-25px;left:0;text-align:center;width:100%;font-weight:bold;color:#7C7C7C;}#cboxCurrent{position:absolute;bottom:-25px;left:58px;font-weight:bold;color:#7C7C7C;}#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow{position:absolute;bottom:-29px;background:url('http://core.assetnation.com/includes/images/Colorbox/controls.png') 0px 0px no-repeat;width:23px;height:23px;text-indent:-9999px;}#cboxPrevious{left:0px;background-position:-51px -25px;}#cboxPrevious.hover{background-position:-51px 0px;}#cboxNext{left:27px;background-position:-75px -25px;}#cboxNext.hover{background-position:-75px 0px;}#cboxClose{right:0;background-position:-100px -25px;}#cboxClose.hover{background-position:-100px 0px;}.cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px;right:27px;}.cboxSlideshow_on #cboxSlideshow.hover{background-position:-150px 0px;}.cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px;right:27px;}.cboxSlideshow_off #cboxSlideshow.hover{background-position:-125px 0px;}.ui-helper-hidden{display:none;}.ui-helper-hidden-accessible{position:absolute;left:-99999999px;}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;}.ui-helper-clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.ui-helper-clearfix{display:inline-block;}
html*.ui-helper-clearfix{height:1%;}.ui-helper-clearfix{display:block;}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:alpha(opacity=0);}.ui-state-disabled{cursor:default!important;}.ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%;}.ui-state-default,.ui-widget-content .ui-state-default{border:1px solid #d3d3d3;background:#e6e6e6 url('http://core.assetnation.com/includes/images/Nav/TabBackground.png') 50% 50% repeat-x;font-weight:normal;color:#555555;outline:none;}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#555555;text-decoration:none;outline:none;}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus{border:1px solid #999999;background:#dadada url('http://core.assetnation.com/includes/images/Nav/TabBackground.png') 50% 50% repeat-x;font-weight:normal;color:#212121;outline:none;}.ui-state-hover a,.ui-state-hover a:hover{color:#212121;text-decoration:none;outline:none;}.ui-state-active,.ui-widget-content .ui-state-active{border:1px solid #aaaaaa;background:#ffffff url('http://core.assetnation.com/includes/images/Nav/TabBackgroundSelected.png') 50% 50% repeat-x;font-weight:normal;color:#212121;outline:none;}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#212121;outline:none;text-decoration:none;}.ui-state-highlight,.ui-widget-content .ui-state-highlight{border:1px solid #fcefa1;background:#fbf9ee url('http://core.assetnation.com/includes/images/Nav/JQuery/ui-bg_glass_55_fbf9ee_1x400.png') 50% 50% repeat-x;color:#363636;}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a{color:#363636;}.ui-state-error,.ui-widget-content .ui-state-error{border:1px solid #cd0a0a;background:#fef1ec url('http://core.assetnation.com/includes/images/Nav/JQuery/ui-bg_glass_95_fef1ec_1x400.png') 50% 50% repeat-x;color:#cd0a0a;}.ui-state-error a,.ui-widget-content .ui-state-error a{color:#cd0a0a;}.ui-state-error-text,.ui-widget-content .ui-state-error-text{color:#cd0a0a;}.ui-state-disabled,.ui-widget-content .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none;}.ui-priority-primary,.ui-widget-content .ui-priority-primary{font-weight:bold;}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal;}.ui-widget-overlay{background:#aaaaaa url('http://core.assetnation.com/includes/images/Nav/JQuery/ui-bg_flat_0_aaaaaa_40x100.png') 50% 50% repeat-x;opacity:.30;filter:Alpha(Opacity=30);}.ui-widget-shadow{margin:-8px 0 0 -8px;padding:8px;background:#aaaaaa url('http://core.assetnation.com/includes/images/Nav/JQuery/ui-bg_flat_0_aaaaaa_40x100.png') 50% 50% repeat-x;opacity:.30;filter:Alpha(Opacity=30);-moz-border-radius:8px;-webkit-border-radius:8px;}.ui-dialog{position:relative;padding:.2em;width:300px;background:#fff;}.ui-dialog .ui-dialog-titlebar{padding:.5em .3em .3em 1em;position:relative;}.ui-dialog .ui-dialog-title{float:left;margin:.1em 0 .2em;}.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:19px;margin:-10px 0 0 0;padding:1px;height:18px;}.ui-dialog .ui-dialog-titlebar-close span{display:block;margin:1px;}.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus{padding:0;}.ui-dialog .ui-dialog-content{border:0;padding:.5em 1em;background:none;overflow:auto;zoom:1;}.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0 0;background-image:none;margin:.5em 0 0 0;padding:.3em 1em .5em .4em;}.ui-dialog .ui-dialog-buttonpane button{float:right;margin:.5em .4em .5em 0;cursor:pointer;padding:.2em .6em .3em .6em;line-height:1.4em;width:auto;overflow:visible;}.ui-dialog .ui-resizable-se{width:14px;height:14px;right:3px;bottom:3px;}.ui-draggable .ui-dialog-titlebar{cursor:move;}.ui-resizable{position:relative;}.ui-resizable-handle{position:absolute;font-size:0.1px;z-index:99999;display:block;}.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none;}.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0px;}.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0px;}.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0px;height:100%;}.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0px;height:100%;}.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px;}.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px;}.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px;}.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px;}.ui-tabs{padding:.2em;zoom:1;}.ui-tabs .ui-tabs-nav{list-style:none;position:relative;padding:.2em .2em 0;}.ui-tabs .ui-tabs-nav li{position:relative;float:left;border-bottom-width:0!important;margin:0 .2em -1px 0;padding:0;}.ui-tabs .ui-tabs-nav li a{float:left;text-decoration:none;padding:.5em 1em;}.ui-tabs .ui-tabs-nav li.ui-tabs-selected{padding-bottom:1px;border-bottom-width:0;}.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-state-processing a{cursor:pointer;}.ui-tabs .ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a{cursor:pointer;}.ui-tabs .ui-tabs-panel{padding:1.5em 1.4em;display:block;border-width:0;background:none;}.ui-tabs .ui-tabs-hide{display:none!important;}.ui-helper-reset{line-height:1;font-size:81%;}.ui-state-default,.ui-widget-content .ui-state-default{border:none;font-weight:bold;}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#fff;}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus{border:none;font-weight:bold;}.ui-state-hover a,.ui-state-hover a:hover{color:#666;}.ui-state-active,.ui-widget-content .ui-state-active{border:1px solid #aaa;font-weight:bold;}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#000;}.ui-widget-content{border:none;background:#fff;overflow:hidden;}.ui-widget-header{border:none;border-bottom:1px solid #aaa;background:#fff;}.ui-tabs{padding:0em;}.ui-tabs .ui-tabs-nav{padding-top:0em;}.ui-tabs-vertical{width:950px;}.ui-tabs-vertical .ui-tabs-nav{padding:.2em 0 .2em 0;float:left;width:180px;}.ui-tabs-vertical .ui-tabs-nav li{clear:left;width:100%;border-bottom-width:1px!important;border-right-width:0!important;margin:0 0px 2px 0;padding:0px;background:#16467b url('http://core.assetnation.com/includes/images/Nav/VerticalTabBackground.png') repeat-y;}.ui-tabs-vertical .ui-tabs-nav li a{display:block;}.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected{padding-bottom:0;padding-right:.1em;border-right-width:1px;background:#fff url('http://core.assetnation.com/includes/images/Nav/VerticalTabBackgroundSelected.png') repeat-y;}.ui-tabs-vertical .ui-tabs-panel{padding:1em 1em 1em;float:right;width:741px;min-height:375px;border:1px solid #aaa;background:#fff;}.ui-tabs-vertical .ui-widget-header{border:none;}.ui-state-default,.ui-widget-content .ui-state-default{background:#5a9852 url('../images/Nav/TabBackground.png') repeat-x;}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#fff;}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus{background:#5a9852 url('../images/Nav/TabBackground.png') repeat-x;color:#ccc;}.ui-state-hover a,.ui-state-hover a:hover{color:#ddd;}.ui-state-active,.ui-widget-content .ui-state-active{background:#fff url('../images/Nav/TabBackgroundSelected.png') repeat-x;color:#5c7644;}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#669966;}.ui-tabs-vertical .ui-tabs-nav li{background:#5a9852 url('../images/Nav/VerticalTabBackground.png') repeat-y;}.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected{background:#fff url('../images/Nav/VerticalTabBackgroundSelected.png') repeat-y;}
html{text-align:center;}
html,body{height:100%;}
body{position:relative;width:100%;text-align:left;background-color:#fff;color:#666;font:13px/1.231 arial,helvetica,clean,sans-serif;font-size:small;}.nextPrev{font-size:85%;}.nextPrev img{width:70px;height:70px;}.nextPrev table{width:90%;}.nextPrev td{text-align:center;width:50%;}.sellerspotlight{width:154px;margin-left:auto;margin-right:auto;}.sellerspotlight li{float:left;position:relative;}.sellerspotlight cite{position:absolute;bottom:10px;right:10px;}.sellerspotlight img{width:154px;}.carousel-next{display:none;}.carousel-previous{display:none;}.hide{display:none;}.clear{clear:both;}
h1{font-size:138.5%;font-weight:bold;margin-bottom:15px;}
h2{font-size:108%;font-weight:bold;}
h3{font-size:100%;}
h4{font-size:93%;}
h5{font-size:85%;}
h6{font-size:77%;}
f-xsmall{font-size:77%;}
f-small{font-size:85%;}
f-medium{font-size:93%;}
f-large{font-size:108%;}
f-xlarge{font-size:138.5%;}.highlight{color:#E17000;font-weight:bold}.subdued{color:#999}.error{color:#c00;font-weight:bold}.success{color:#390;font-weight:bold}.caption{color:#999;font-size:11px}.bold{font-weight:bold;}.warning{background-color:#FEE;border:1px solid #F00;padding:5px;margin-bottom:10px;background-repeat:no-repeat;background-position:10px center;}
a:link{color:#e08e26;}
a:visited{color:#e08e26;}
a:active{color:#e08e26;}
a:hover{color:#1a315c;}
div#header,div#branding,div#nav,div#venue_body,div#site_info{width:100%;}
div#print_header{display:none;}
div#venue_header{position:relative;border-bottom:1px solid #BBB;}
div#venue_header_content{position:relative;width:980px;height:75px;margin:0 auto;}
div#venues{width:500px;height:75px;float:left;}
div#venue_body{background-color:transparent;background-image:url('http://core.assetnation.com/includes/images/BodyBG.png');background-repeat:repeat-x;background-position:50% 0;background-position-x:50%;background-position-y:0;padding-top:15px;}
div#venue_content{width:960px;margin:0 auto;}
div#content{margin-left:4px;margin-top:10px;margin-bottom:30px;width:950px;}
div#site_info{margin-top:15px;}
div#venue_header{position:relative;height:91px;border-bottom:none;background:transparent url('/includes/images/Tabs/HeaderBackgroundGray.png') repeat-x;margin-bottom:-12px;z-index:1;}
div#venue_header_content{position:relative;width:980px;height:75px;margin:0 auto;padding-left:10px;}
ul#venue_info{margin-top:48px;}
ul#venue_info li{position:relative;float:left;margin:0;padding:0;font-size:90%;width:102px;background-color:#000;font-weight:bold;color:#666;height:42px;}
ul#venue_info li a{display:block;text-decoration:none;color:#666;padding:9px 6px 8px 0px;text-align:center;height:12px;}
ul#venue_info li a:hover,ul#venue_info li a:active,ul#venue_info li.currenttab a{color:#000;}
ul#venue_info li{background:url('/includes/images/Tabs/Default.png') repeat-x;}
ul#venue_info li.currenttab{background:url('/includes/images/Tabs/Active.png') repeat-x;}
ul#venue_info li a:hover{background:url('/includes/images/Tabs/Hover.png') repeat-x;}
ul#venue_info li.currenttab a:hover{background:url('/includes/images/Tabs/Active.png') repeat-x;}
ul#venue_info li a:active{background:url('/includes/images/Tabs/Hover.png') repeat-x;height:42px;}
ul#venue_info li.currenttab a:active{background:url('/includes/images/Tabs/Active.png') repeat-x;height:42px;}
ul#venue_info li#salvagesale{text-indent:-9999px;width:102px;}
ul#venue_info li#salvagesale a{height:12px;}
ul#venue_info li#salvagesale{background:url('/includes/images/Tabs/SS_Default.png') repeat-x;}
ul#venue_info li#salvagesale.currenttab{background:url('/includes/images/Tabs/SS_Active.png') repeat-x;}
ul#venue_info li#salvagesale a:hover{background:url('/includes/images/Tabs/SS_Hover.png') repeat-x;}
ul#venue_info li#salvagesale.currenttab a:hover{background:url('/includes/images/Tabs/SS_Active.png') repeat-x;}
ul#venue_info li#salvagesale a:active{background:url('/includes/images/Tabs/SS_Hover.png') repeat-x;height:42px;}
ul#venue_info li#salvagesale.currenttab a:active{background:url('/includes/images/Tabs/SS_Active.png') repeat-x;}
ul#venue_info li#assetauctions{text-indent:-9999px;width:116px;}
ul#venue_info li#assetauctions a{height:12px;}
ul#venue_info li#assetauctions{background:url('/includes/images/Tabs/AA_Default.png') repeat-x;}
ul#venue_info li#assetauctions.currenttab{background:url('/includes/images/Tabs/AA_Active.png') repeat-x;}
ul#venue_info li#assetauctions a:hover{background:url('/includes/images/Tabs/AA_Hover.png') repeat-x;}
ul#venue_info li#assetauctions.currenttab a:hover{background:url('/includes/images/Tabs/AA_Active.png') repeat-x;}
ul#venue_info li#assetauctions a:active{background:url('/includes/images/Tabs/AA_Hover.png') repeat-x;height:42px;}
ul#venue_info li#assetauctions.currenttab a:active{background:url('/includes/images/Tabs/AA_Active.png') repeat-x;}
ul#venue_info li#vehiclenation{text-indent:-9999px;width:108px;}
ul#venue_info li#vehiclenation a{height:12px;}
ul#venue_info li#vehiclenation{background:url('/includes/images/Tabs/VN_Default.png') repeat-x;}
ul#venue_info li#vehiclenation.currenttab{background:url('/includes/images/Tabs/VN_Active.png') repeat-x;}
ul#venue_info li#vehiclenation a:hover{background:url('/includes/images/Tabs/VN_Hover.png') repeat-x;}
ul#venue_info li#vehiclenation.currenttab a:hover{background:url('/includes/images/Tabs/VN_Active.png') repeat-x;}
ul#venue_info li#vehiclenation a:active{background:url('/includes/images/Tabs/VN_Hover.png') repeat-x;height:42px;}
ul#venue_info li#vehiclenation.currenttab a:active{background:url('/includes/images/Tabs/VN_Active.png') repeat-x;}
ul#venue_info li#aviationauctions{text-indent:-9999px;width:131px;}
ul#venue_info li#aviationauctions a{height:12px;}
ul#venue_info li#aviationauctions{background:url('/includes/images/Tabs/AVA_Default.png') repeat-x;}
ul#venue_info li#aviationauctions.currenttab{background:url('/includes/images/Tabs/AVA_Active.png') repeat-x;}
ul#venue_info li#aviationauctions a:hover{background:url('/includes/images/Tabs/AVA_Hover.png') repeat-x;}
ul#venue_info li#aviationauctions.currenttab a:hover{background:url('/includes/images/Tabs/AVA_Active.png') repeat-x;}
ul#venue_info li#aviationauctions a:active{background:url('/includes/images/Tabs/AVA_Hover.png') repeat-x;height:42px;}
ul#venue_info li#aviationauctions.currenttab a:active{background:url('/includes/images/Tabs/AVA_Active.png') repeat-x;}
ul#venue_info li#anenergy{text-indent:-9999px;width:102px;}
ul#venue_info li#anenergy a{height:12px;}
ul#venue_info li#anenergy{background:url('/includes/images/Tabs/ANE_Default.png') repeat-x;}
ul#venue_info li#anenergy.currenttab{background:url('/includes/images/Tabs/ANE_Active.png') repeat-x;}
ul#venue_info li#anenergy a:hover{background:url('/includes/images/Tabs/ANE_Hover.png') repeat-x;}
ul#venue_info li#anenergy.currenttab a:hover{background:url('/includes/images/Tabs/ANE_Active.png') repeat-x;}
ul#venue_info li#anenergy a:active{background:url('/includes/images/Tabs/ANE_Hover.png') repeat-x;height:42px;}
ul#venue_info li#anenergy.currenttab a:active{background:url('/includes/images/Tabs/ANE_Active.png') repeat-x;}
ul#venue_info li#penton{text-indent:-9999px;width:91px;}
ul#venue_info li#penton a{height:12px;}
ul#venue_info li#penton{background:url('/includes/images/Tabs/pentonDefault.png') repeat-x;background-size:91px 43px;}
ul#venue_info li#penton.currenttab{background:url('/includes/images/Tabs/pentonActive.png') repeat-x;background-size:91px 43px;}
ul#venue_info li#penton a:hover{background:url('/includes/images/Tabs/pentonHover.png') repeat-x;background-size:91px 43px;}
ul#venue_info li#penton.currenttab a:hover{background:url('/includes/images/Tabs/pentonActive.png') repeat-x;background-size:91px 43px;}
ul#venue_info li#penton a:active{background:url('/includes/images/Tabs/pentonHover.png') repeat-x;background-size:91px 43px;}
ul#venue_info li#penton.currenttab a:active{background:url('/includes/images/Tabs/pentonActive.png') repeat-x;background-size:91px 43px;}
ul#venue_info li#moremarkets{text-indent:-9999px;width:65px;}
ul#venue_info li#moremarkets a{height:12px;}
ul#venue_info li#moremarkets{background:url('/includes/images/Tabs/mmDefault.png') repeat-x;}
ul#venue_info li#moremarkets.currenttab{background:url('/includes/images/Tabs/mmActive.png') repeat-x;}
ul#venue_info li#moremarkets a:hover{background:url('/includes/images/Tabs/mmHover.png') repeat-x;}
ul#venue_info li#moremarkets.currenttab a:hover{background:url('/includes/images/Tabs/mmActive.png') repeat-x;}
ul#venue_info li#moremarkets a:active{background:url('/includes/images/Tabs/mmHover.png') repeat-x;height:42px;}
ul#venue_info li#moremarkets.currenttab a:active{background:url('/includes/images/Tabs/mmActive.png') repeat-x;}
div#loginbox{position:relative;margin-top:5px;margin-right:6px;height:53px;float:right;border:solid 2px #CCC;background:#EEE;padding:4px 5px 5px 5px;}
div#loginbox .registernow{float:left;position:relative;top:2px;left:1px;}
div#loginbox .coreform{border-top:none;border-bottom:none;margin-top:0;padding-top:0;padding-bottom:0;display:inline-block;float:right;margin-right:77px;}
div#loginbox .coreform input{margin:2px;padding-top:1px;padding-bottom:2px;}
div#loginbox ol{display:inline-block;}
div#loginbox label{width:65px;font-size:85%;margin-right:2px;}
form#frmloginbox div.buttons button#login{position:absolute;top:6px;right:5px;margin:0px;width:70px;height:22px;text-align:center;}
form#frmloginbox a{position:absolute;margin:0px;font-size:9px;right:5px;}
form#frmloginbox a.forgotpassword{top:33px;max-width:70px;}
div#loginbox_authenticated{margin-top:3px;float:right;text-align:right;background:#f3f3f3;padding:5px;border:solid #999 1px;}
div#loginbox_authenticated span#loginbox_name{font-size:108%;font-weight:bold;clear:right;}
div#branding{position:absolute;float:left;}
div#branding h1{top:5px;width:480px;height:75px;left:10px;background:transparent url('http://core.assetnation.com/includes/images/logo.png') no-repeat;text-indent:-9999px;}
div#header{position:relative;height:72px;background:transparent url('http://core.assetnation.com/includes/images/GreyFadeHorizontal.png') repeat-y 100% 0;z-index:2;}
div#logoScroll img{padding-right:30px;}
div#searchBox{position:relative;width:400px;margin:18px 20px 2px 0px;float:right;}
form#searchFrm input{margin-right:92px;width:250px;height:31px;float:right;font-size:large;}
form#searchFrm select{margin-top:5px;margin-right:91px;width:157px;height:22px;float:right;}
form#searchFrm div.buttons button{position:absolute;top:0px;right:0px;margin:0px;width:84px;height:35px;text-align:center;}
div#nav{min-height:60px;z-index:999;}
div#nav h2,div#site_info h2{height:0px;text-indent:-9999px;}
ul#nav_info{position:absolute;top:0px;left:0px;}
ul#nav_info li{float:left;}
ul#nav_info li{text-align:center;}
ul#nav_info li a{color:#999;font-size:108%;font-weight:bold;text-decoration:none;}
ul#nav_info li a:hover{background-color:#c4c4c4;color:#ffffff;}
ul#nav_info li a{padding:20px 10px 5px 10px;display:block;}.sf-menu*{z-index:999;}.sf-menu{margin-top:15px;}.sf-menu li{position:relative;float:left;margin:0;padding:0;font-size:90%;width:16.66%;background-color:#000;background:transparent url('http://core.assetnation.com/includes/images/Nav/NavToolsBackground.png') repeat-x;}.sf-menu li a{display:block;text-decoration:none;color:#fff;padding-top:9px;padding-bottom:8px;text-align:center;}.sf-menu li a .spacer{background:transparent url(../images/Nav/NavToolsBackground.png) repeat-x;color:#154a8f;}.sf-menu li.spacer a:hover{background:transparent url(../images/Nav/NavToolsBackground.png) repeat-x;color:#154a8f;}.sf-menu li a:hover{background:transparent url('http://core.assetnation.com/includes/images/Nav/NavToolsBackgroundHover.png') repeat-x;color:#000;}.sf-menu li a:active{color:#fff;background:transparent url('http://core.assetnation.com/includes/images/Nav/NavToolsBackgroundActive.png') repeat-x;}.sf-menu li li{background:none;margin-left:1px;}.sf-menu li li a{font-size:12px;text-align:left;padding:2px 0px 5px 8px;background-color:#eee;background-image:none;color:#000;width:190px!important;padding:6px;}.sf-menu li.active li a{color:#006699;background-color:#900000;background-image:none;}.sf-menu li li.active a{font-weight:bold;background-color:#e9eff4;background-image:none;}.sf-menu li li a:hover{font-weight:bold;color:#000;}.sf-sub-indicator{display:block;text-indent:-999em;width:0px;height:0px;display:block;}.sf-menu li li span.category_nav_count{position:absolute;top:8px;right:5px;font-size:75%;}.sf-menu li li a:hover span.category_nav_count{font-weight:normal;}
div#nav_supplement{height:105px;padding:20px 50px 20px 50px;background:#16467b url('/includes/images/FooterBackground.png') repeat-x;}
div#nav_supplement h3{color:#eee;margin-left:75px;}
div#nav_supplement ul{float:left;width:33%;}
div#nav_supplement li{font-size:93%;margin-left:90px;}
div#nav_supplement li a,div#nav_supplement li a:link{color:#eee;font-size:93%;text-decoration:none;}
div#nav_supplement li a:visited div#nav_supplement li a:active,div#nav_supplement li a:hover{color:#fff;text-decoration:underline;}
ul#nav_sponsors{width:325px;float:right;margin-top:10px;margin-right:5px;}
ul#nav_sponsors li{display:inline;float:left;margin-left:5px;}
ul#nav_sponsors li a{text-decoration:none;}
div#site_info p#copyright_notice{margin-top:20px;margin-left:10px;color:#666666;font-size:85%;}
div.bread_crumb_bar{margin-bottom:20px;font-size:85%;color:#777;}.coldbox_message_bar{margin-bottom:20px;}.cbox_messagebox{font-size:13px;font-weight:bold;margin:20px 20px 20px 50px;}.cbox_messagebox_info{background:#DFFFCA url('http://core.assetnation.com/coldbox/system/includes/images/cmsg.gif') no-repeat scroll 10px 50%;border:1px solid #999;}.cbox_messagebox_warning{background:#FFF2CF url('http://core.assetnation.com/coldbox/system/includes/images/wmsg.gif') no-repeat scroll 10px 50%;border:1px solid #999;}.cbox_messagebox_error{background:#FFA8A8 url('http://core.assetnation.com/coldbox/system/includes/images/emsg.gif') no-repeat scroll 10px 50%;border:1px solid #999;}.cbox_messagebox_info p.cbox_messagebox{color:#666;}.cbox_messagebox_warning p.cbox_messagebox{color:#666;}.cbox_messagebox_error p.cbox_messagebox{color:#000;}.bidstatus-open{background:url('http://core.assetnation.com/includes/images/auctionBidNow.gif') no-repeat;}.bidstatus-closed{background:url('http://core.assetnation.com/includes/images/auctionClosed.gif') no-repeat;}.bidstatus-pending{background:url('http://core.assetnation.com/includes/images/auctionPreview.gif') no-repeat;}.bidstatus-open,.bidstatus-closed,.bidstatus-pending{position:absolute;top:0;left:0;width:50px;height:50px;}.videoIconSmall{position:absolute;width:35px;height:32px;bottom:4px;right:9px;background:url('/includes/images/videoIcon.png') no-repeat;}.videoIconLarge{position:absolute;background:url('/includes/images/videoIcon.png') no-repeat;bottom:9px;right:29px;width:35px;height:32px;}.lot_tile_image,.lot_panel_image,.auction_tile_image,.auction_panel_image,listingTabContent img{width:150px;height:112px;}.imagecontext{position:relative;float:left;}.auction_panel{font-size:14px;}.tile{position:relative;float:left;margin:0px 4px 5px 4px;padding:2px 2px 7px 2px;}.tile img{border:solid #999 1px;padding:2px;}.tile h3{margin-bottom:5px;}.tile p{font-size:85%;margin-bottom:2px;}.tile span.label{font-weight:bold;}.tile a{color:#006699;}.tile:hover{background:#e4ebf2;}.tilehorizontal{width:100%;border-bottom:solid #666 1px;}.tilehorizontal img{float:left;margin-right:5px;}.tilevertical{width:152px;padding-bottom:10px;height:230px;}.listingDetail{position:relative;margin-bottom:5px;}.listingDetail h2{font-size:138.5%;margin-bottom:15px;}.listingDetail h3{font-size:108%;font-weight:bold;margin-bottom:10px;}.listingDetail img.listingphoto{border:solid #999 1px;padding:5px;float:left;margin-right:20px;}.listingDetail ul.listingDetail_specifics{float:left;width:415px;margin-right:10px;}.listingDetail span.label{font-weight:normal;color:#666;}.listingDetail li{font-weight:bold;}.listingDetail a#whatisthis{font-size:85%;}
div.lot_panel ul.lot_panel_detail_with_image{float:left;width:258px;font-size:85%;margin-left:10px;margin-right:10px;}
div.lot_panel_cat ul.lot_panel_detail_with_image{float:left;width:258px;font-size:85%;margin-left:10px;margin-right:10px;}
div.lot_panel ul.lot_panel_detail_without_image{float:left;width:410px;font-size:85%;margin-right:10px;}
div.auction_panel ul li ul{font-size:85%;margin-left:10px;list-style:disc;}
div.auction_panel ul li ul li{margin-left:15px;}
div.auction_panel ul.auction_panel_detail_with_image{float:left;width:700px;margin-left:10px;}
div.auction_panel ul.auction_panel_detail_without_image{float:left;width:670px;}
div#lot_tile ul.lot_panel_detail_with_image{float:left;width:258px;margin-left:10px;margin-right:10px;}
div#lot_tile ul.lot_panel_detail_without_image{float:left;width:410px;margin-right:10px;}
ul.category_nav li{padding-top:2px;padding-bottom:2px;position:relative;}
ul.category_nav li ul li{padding-right:20px;position:relative;}
ul.category_nav li>ul>li{margin-left:10px;}
ul.category_nav li a,ul.browseby_nav li a,ul.industry_nav li a{text-decoration:none;cursor:pointer;}
ul.category_nav li a.category_nav_secondary,ul.browseby_nav li ul li a{color:#666;}
ul.category_nav span.category_nav_count{position:absolute;right:0px;font-size:75%;}
ul.category_nav li a.category_nav_primary span.category_nav_count{top:4px;}
a.category_nav_primary{padding-right:25px;}
ul.category_nav li a.category_nav_secondary span.category_nav_count{top:6px;}
ul.browseby_nav li{padding-top:2px;padding-bottom:2px;margin-left:0px;}
ul.browseby_nav li.browseby_country{margin-left:10px;}
ul.browseby_nav li.browseby_region,li.browseby_region{margin-left:20px;}
ul.browseby_nav li.browseby_canada_state{margin-left:20px;}
ul.browseby_nav li.browseby_us_state{margin-left:30px;}.listingTabContent h2{margin:0px;}.listingTabContent p{margin-left:10px;margin-bottom:10px;}.listingTabContent ul{margin-left:20px;margin-bottom:10px;list-style:disc;}.listingTabContent ul li{margin-left:15px;}.listingTabContent img{margin:4px;border:solid #999 1px;padding:2px;}.listingTabContent span.label{font-weight:bold;}
div.bid_bidbox form{margin:0px 2px 7px 3px;}
div.bid_bidbox p{font-size:100%;margin-bottom:5px;}
div.bid_bidbox .buttons{float:left;height:21px;margin-left:10px;}
div.bid_bidbox button{height:21px;margin:0px;width:115px;margin-right:0px;font-size:85%;border-color:#aaa;}
div.bid_bidbox div.buyitnow{float:left;height:21px;margin-left:0px;clear:right;}
div.bid_bidbox div.buyitnow button{height:21px;margin:0px;width:205px;margin-right:0px;font-size:85%;}
div.bid_bidbox input{padding-top:1px;padding-bottom:0px;height:18px;float:left;width:74px;}
div.bid_bidbox span.label{font-weight:bold;}
div.bid_bidbox span.willsell{color:#070}
div.bid_bidbox span.maysell{color:#f63}
div.bid_bidbox a.button,div.buttons button{padding:0px 5px 2px 5px;}
div#myMarketTabs ul li{margin-bottom:5px;border-left:1px solid #666;border-top:1px solid #666;border-bottom:1px solid #666;padding:2px;font-weight:bold;font-size:85%;}
div#myMarketTabs h3{margin-top:10px;margin-bottom:10px;color:#666;border-bottom:1px solid #666;}
div#myMarketTabs li.myMarketTabsActive{background:transparent url("../images/Nav/VerticalTabBackgroundSelected.png");}
div#myMarketTabs li.myMarketTabsActive a{color:#666;text-decoration:none;}
div#myMarketTabs li.myMarketTabsActive a:hover{color:#999;}
div#myMarketTabs li.myMarketTabsInactive{background:transparent url("../images/Nav/VerticalTabBackground.png");border-right:1px solid #666;}
div#myMarketTabs li.myMarketTabsInactive a{color:#FFF;text-decoration:none;}
div#myMarketTabs li.myMarketTabsInactive a:hover{color:#DDD;}
div.mm_criteria{border-top:solid #aaa 1px;padding-top:4px;overflow:hidden;}
div.mm_criteria_filter{float:left;margin-top:7px;}
div.mm_criteria_filter ul{float:right;margin-top:-2px;}
div.mm_criteria_filter span.mm_criteria_filter_label{float:left;margin-right:7px;}
div.mm_criteria_search{margin-top:3px;float:right;}
div.mm_criteria_search input{margin-left:5px;}
div.mm_criteria_search div.buttons{float:right;margin-top:-8px;margin-left:7px;}
div.mm_content_title{font-size:108%;padding:3px;background-color:#eee;border:#aaa solid 1px;}
div.mm_content{overflow:hidden;}
div.mm_help_text{border:solid #ccc 1px;background:#eee;padding:8px;}
div.bullet ul,div.bullet ol,ul.bullet,ol.bullet{overflow:auto;list-style:disc;}
div.bullet ul,div.bullet ul li,ul.bullet,ul.bullet li{margin-left:0;padding-left:0;}
div.bullet ul li,ul.bullet li{margin-left:15px;}
ul.list_pipe_separated li{float:left;padding:0 7px 0 7px;border-left:dotted 1px #666;margin:2px 0 2px 0;}
ul.list_pipe_separated li:first-child{border:none;padding-left:0;}
ul.list_pipe_separated li span.list_pipe_separated_count{font-size:85%;}
div.f-xsmall ul,ul.f-xsmall{font-size:77%;}
div.f-small ul,ul.f-small{font-size:85%;}
div.f-medium ul,ul.f-medium{font-size:93%;}
div.f-large ul,ul.f-large{font-size:108%;}
div.f-xlarge ul,ul.f-xlarge{font-size:138.5%;}
ul.icons{margin-left:0px;padding:5px 0px 15px 0px;}
ul.icons li{font-size:85%;padding-left:5px;margin:0px 0px 10px 5px;}
ul.icons li.icon-print{background:transparent url("http://core.assetnation.com/includes/images/Common/Icons/ss-icon-print.png") no-repeat 2px 2px;}
ul.icons li.icon-email{background:transparent url("http://core.assetnation.com/includes/images/Common/Icons/ss-icon-email.png") no-repeat 2px 2px;}
ul.icons li.icon-delicious{background:transparent url("http://core.assetnation.com/includes/images/Common/Icons/ss-icon-delicious.png") no-repeat 2px 2px;}
ul.icons li.icon-digg{background:transparent url("http://core.assetnation.com/includes/images/Common/Icons/ss-icon-digg.png") no-repeat 2px 2px;}
ul.icons li.icon-doc{background:transparent url("http://core.assetnation.com/includes/images/Common/Icons/ss-icon-doc.png") no-repeat 2px 2px;}
ul.icons li.icon-pdf{background:transparent url("http://core.assetnation.com/includes/images/Common/Icons/ss-icon-pdf.png") no-repeat 2px 2px;}
ul.icons li.icon-xls{background:transparent url("http://core.assetnation.com/includes/images/Common/Icons/ss-icon-xls.png") no-repeat 2px 2px;}
ul.icons li.icon-watch{background:transparent url("http://core.assetnation.com/includes/images/Common/Icons/ss-icon-watch.png") no-repeat 2px 2px;}
ul.icons li.icon-reminder{background:transparent url("http://core.assetnation.com/includes/images/Common/Icons/ss-icon-reminder.png") no-repeat 2px 2px;}
input{height:18px;border:solid 1px #ccc;padding-top:3px;padding-left:4px;}
select{height:23px;border:solid 1px #ccc;padding-top:0px;padding-left:0px;}.coreform{border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;margin-top:20px;padding-top:10px;padding-bottom:3px;}.coreform .spacer{clear:both;height:1px;}.coreform fieldset{border:1px solid #ccc;margin:0px 10px;padding:10px;}.coreform fieldset legend{margin-left:10px;color:#666;font-weight:bold;margin-bottom:10px;}.coreform li{float:left;clear:left;width:100%;}.coreform label{text-align:right;width:140px;float:left;margin-top:4px;}.coreform input{margin:2px 0px 5px 10px;}.coreform .required:hover{border:1px solid #FF8A8A;}.coreform select{margin:2px 0px 5px 10px;}.coreform .checkbox{margin-top:10px;border:none;width:16px;outline:none;}.coreform button{clear:both;margin-left:151px;}.coreform fieldset+div.buttons{margin-left:20px;}.coreform .helpText{font-size:smaller;padding-left:10px;}#formtheme{border:solid 2px #ccc;background:#eee;padding:20px;margin:0 auto;}#formtheme h2{margin-bottom:8px;}#formtheme p{font-size:11px;}#formtheme ul{list-style:disc;font-size:11px;margin-left:15px;}#formtheme ul li{margin-bottom:5px;}
form#loginform{position:relative;}
form#loginform div#links{position:absolute;bottom:11px;left:235px;width:100px;}
form#loginform div.buttons button{width:75px;}
form#loginform a#register,#formtheme form#loginform a#forgotpass{font-size:85%;line-height:13px;display:block;}
a.button,div.buttons button{font-size:8pt;text-align:left;color:#fff;padding:0px 5px 2px 5px;border:1px solid #9b9b9b;background:#666 url('http://core.assetnation.com/includes/images/Nav/ButtonBackground.png') repeat-x;}
div.buttons #searchBtn{font-size:10pt;}
div.buttons input[type="button"]{font-size:9pt;text-align:left;color:#fff;padding:0px 5px 2px 5px;border:1px solid #9b9b9b;background:#666 url('http://core.assetnation.com/includes/images/Nav/ButtonBackground.png') repeat-x;}
a.button_venue_color,div.buttons button.button_venue_color,a.button:link,a.button:visited,a.button:hover,a.button:active{border:1px solid #f1d8b8;line-height:18px;color:#fff;background:#f29b29 url('http://core.assetnation.com/includes/images/Nav/ButtonBackgroundOrange.png') repeat-x;}
div.paging_container{float:right;}
div.paging_carrousel{float:right;display:inline;height:22px;overflow:hidden;}
div.paging_carrousel a{text-decoration:none;}
div.paging_displaying{float:left;display:inline;padding-top:4px;margin-right:7px;font-size:85%;height:18px;}
span.paging_displaying_number{font-weight:bold;}
div.paging_next_back_active,div.paging_next_back_inactive,div.paging_pages,div.paging_page_selected{float:left;text-align:center;line-height:18px;height:18px;margin:0 1px;padding:1px 4px 1px 4px;text-decoration:none;}
div.paging_next_back_active,div.paging_pages{border:solid #999 1px;background-color:#fff;color:#666;text-decoration:none;cursor:pointer;}
div.paging_next_back_active:hover,div.paging_pages:hover,div.paging_page_selected{border:solid #999 1px;background:#f29b29 url('http://core.assetnation.com/includes/images/Nav/ButtonBackgroundOrange.png') repeat-x;color:#fff;text-decoration:none;cursor:pointer;}
div.paging_next_back_inactive{border:solid #999 1px;background-color:#ddd;color:#999;cursor:pointer;}
div.paging_next_back_inactive:hover{cursor:pointer;}
div.paging_ellipsis{padding-top:7px;float:left;}
div.non_tab_container{border-top:solid #aaa 1px;border-bottom:solid #aaa 1px;padding:20px;overflow:hidden;}
div.vertical_scroll_container{width:100%;max-height:300px;overflow:auto;}#callBoxOuter{position:fixed;left:50%;width:600px;height:400px;margin-left:-300px;padding:10px;border:2px solid #555;background-color:#DDD;font-weight:bolder;font-size:larger;color:#369;vertical-align:middle;}#callBoxOuter button{margin:0 auto;}#callBoxInner{margin:50px;padding:10px;text-align:center;background-color:#FFF;}#callBoxPhoneImage{margin:20px;}#callBoxPin{margin:20px auto;width:120px;font-size:x-large;font-weight:bolder;border:3px solid red;}
a.rss-link{background:transparent url('http://core.assetnation.com/includes/images/common/icons/ss-icon-rss.png') no-repeat;padding-left:20px;color:#000;text-decoration:none;font-weight:normal;}
a.rss-link:hover{text-decoration:underline;}
table.cat-listing{width:100%;}
table.cat-listing thead td,table.cat-listing thead th{padding:2px;}
table.cat-listing tbody td,table.cat-listing tbody th{padding:4px;}
table.cat-listing thead th{color:#999999;font-weight:bold;font-size:108%;text-align:center;}
table.cat-listing tbody th{color:#fff;font-weight:bold;font-size:138.5%;}
table.cat-listing tbody tr.cat-level-1 th{color:#fff;font-weight:bold;font-size:138.5%;background-color:#666666;border-top:10px solid #fff;}
table.cat-listing tbody tr.cat-level-2 th{color:#336699;font-weight:bold;font-size:85%;padding-left:13px;}
table.cat-listing tbody tr.cat-level-2 td{color:#336699;font-weight:bold;font-size:85%;text-align:center;}
table.cat-listing tbody tr.cat-level-3 th{color:#000;font-weight:normal;font-size:85%;padding-left:26px;}
table.cat-listing tbody tr.cat-level-3 td{color:#000;font-weight:normal;font-size:85%;text-align:center;}
table.cat-listing tbody tr.cat-level-1 th a{color:#fff;text-decoration:none;}
table.cat-listing tbody tr.cat-level-2 th a{color:#336699;text-decoration:none;}
table.cat-listing tbody tr.cat-level-2 td a{color:#336699;text-decoration:none;}
table.cat-listing tbody tr.cat-level-3 th a{color:#000;text-decoration:none;}
table.cat-listing tbody tr.cat-level-3 td a{color:#000;text-decoration:none;}
table.cat-listing tbody tr.cat-level-1 th a:hover,table.cat-listing tbody tr.cat-level-2 th a:hover,table.cat-listing tbody tr.cat-level-2 td a:hover,table.cat-listing tbody tr.cat-level-3 th a:hover,table.cat-listing tbody tr.cat-level-3 td a:hover{text-decoration:underline;}.auctionCatalog{float:right;text-align:center;width:100px;margin:0 0 40px 40px;}#auctionImage{float:right;margin:0px 40px 10px 40px;}#auctiontabs #Highlights #highlightList ul{list-style-type:disc;margin:1.12em 0 1.12em 25px;}#auctiontabs #Highlights #highlightList ol{list-style-type:decimal;margin:1.12em 0 1.12em 25px;}#auctiontabs #Highlights #highlightList ol ol{list-style-type:lower-alpha;margin:1.12em 0 1.12em 25px;}#auctiontabs #Highlights .label{font-weight:bold;}#auctiontabs #Terms ul{list-style-type:disc;margin:1.12em 0 1.12em 25px;}#auctiontabs #Terms ol{list-style-type:decimal;margin:1.12em 0 1.12em 25px;}#auctiontabs #Terms ol ol{list-style-type:lower-alpha;margin:1.12em 0 1.12em 25px;}#auctiontabs #OtherDetails ul{list-style-type:disc;margin:1.12em 0 1.12em 25px;}#auctiontabs #OtherDetails ol{list-style-type:decimal;margin:1.12em 0 1.12em 25px;}#auctiontabs #OtherDetails ol ol{list-style-type:lower-alpha;margin:1.12em 0 1.12em 25px;}
div.contentBody ul{list-style-type:disc;margin:1.12em 0 1.12em 25px;}
div.contentBody ol{margin:1.12em 0 1.12em 25px;}
div.contentBody ol li{list-style-type:decimal;}
div.contentBody ol li ol li{list-style-type:lower-alpha;}
div.contentBody ol li ol li ol li{list-style-type:lower-roman;}
div.contentBody p{margin:1.12em 0;}
div.contentFooter{border-top:#999 solid 1px;}
div#landing_page ul{list-style-type:disc;margin:1.12em 0 1.12em 25px;}
div#landing_page p{margin:1.12em 0;}.class1 A:link{text-decoration:none}.class1 A:visited{text-decoration:none}.class1 A:active{text-decoration:none}.class1 A:hover{text-decoration:underline;color:red;}.bidTable th{text-align:left;font-weight:bold;border-bottom:1px solid #000;padding:2px 10px;}.bidTable td{padding:2px 10px;border-bottom:1px solid #999;}.bidTable tr.yourbid{background-color:#FFFACD;font-weight:bold;}#slickbox{display:none;margin-left:165px;border:5px solid #3399FF;}#bidbox{display:none;border:5px solid #3399FF;}
div.categoryfavs ul{margin-left:10px;}.lot-tile,.auction-tile{float:left;-webkit-box-shadow:0 0 7px rgba(0,0,0,0.5);-moz-box-shadow:0 0 7px rgba(0,0,0,0.5);box-shadow:0 0 7px rgba(0,0,0,0.5);position:relative;width:158px;margin:0 13px 22px 0;background:#FFF;min-height:240px;}.lot-tile .lot-img,.auction-tile .auction-img{display:block;overflow:hidden;position:relative;height:119px;text-align:center;}.lot-tile .lot-img img,.auction-tile .auction-img img{height:119px;}.lot-tile .lot-img-none,.auction-tile .auction-img-none{background-color:#e9e9e9;height:119px;text-align:center;line-height:119px;font-style:italic;}.lot-tile .lot-info,.auction-tile .auction-info{background:url('http://core.assetnation.com/includes/images/Pod/GreyFadeVerticalLight.png') repeat-x transparent;}.lot-tile .lot-name,.auction-tile .auction-name{overflow:hidden;line-height:1.1em;}.lot-tile .lot-name{max-height:40px;min-height:40px;}.auction-tile .auction-name{max-height:70px;min-height:70px;}.lot-tile .lot-name,.lot-tile .lot-details,.auction-tile .auction-name,.auction-tile .auction-details{padding:5px;}.lot-tile .lot-name a,.auction-tile .auction-name a{font-size:.9em;text-decoration:none;font-weight:bold;}.lot-tile .lot-details,.auction-tile .auction-details{font-size:.8em;}.lot-tile .lot-details-featured{bottom:0;position:absolute;width:158px;}.lot-tile .lot-details .label,.auction-tile .auction-details .label{font-weight:bold;}.lot-tile .last,.auction-tile .last{margin-right:0;}.lot-tile-featured
{margin:0 13px 0 0;min-height:130px;}.no-shadow{box-shadow:none;}.dispute_initiation h1{margin-bottom:20px;}.disputable_listings_container{border:1px solid #999;padding:10px;margin-bottom:10px;overflow:scroll;max-height:264px;}.disputable_listings{width:100%;max-height:300px;overflow-x:hidden;overflow-y:scroll;}.disputable_listings h4{margin-top:3px;border-bottom:1px solid #ddd;width:100%;}.disputable_listings ul{width:100%;}.disputable_listings li{overflow:hidden;border-bottom:1px solid #ddd;cursor:pointer;padding:6px;}.disputable_listings li:last-child{border-bottom:none;}.disputable_listings li.disputable_listing_selected{background-color:#f2f2f2;border:2px solid #e98346;cursor:pointer;padding:4px;margin-bottom:1px;}.disputable_listings li.disputable_listing_selected:last-child{margin-bottom:0;}.choose_listing{float:right;margin-top:3px;}.dispute_listing_image{float:left;width:70px;height:51px;}.dispute_listing_details{float:left;margin-left:8px;}.dispute_listing_lot_number{font-weight:bold;display:inline-block;}.dispute_listing_dispute_deadline{font-weight:bold;}.disputed_listing{background-color:#e1f7de;border:1px solid #005500;padding:12px;overflow:hidden;margin-bottom:1em;}.dispute_detail_form p{margin-bottom:1em;}.dispute_detail_form .form_control{margin-bottom:20px}.dispute_detail_form label{display:block;margin:0 0 5px 0;font-weight:bold;}.dispute_detail_form label .required_field{color:#990000;}.dispute_detail_form select{width:100%;}.dispute_detail_form textarea{width:100%;height:100px;color:#333333;padding:0;}.dispute_detail_form .datepicker{width:397px;}.dispute_detail_form .ui-datepicker-trigger{cursor:pointer;}.dispute_detail_form .help_text{font-size:.9em;}.dispute_detail .dispute_listing_details{max-width:288px;}.dispute_file_container{display:inline-block;position:relative;margin:0 18px 18px 0;width:172px;height:164px;background-color:#f2f2f2;float:left;}.dispute_file{margin:4px;border:1px solid #dddddd;height:154px;}.dispute_file_icon{text-align:center;font-size:.8em;position:absolute;top:50%;transform:translateY(-50%);padding:20px;width:122px;}.dispute_file_close{background-color:#bbbbbb;color:#fff;padding:2px 3px 0;position:absolute;right:0;cursor:pointer;margin:0!important;line-height:18px!important;}.characters_remaining span{font-weight:bold;}.dispute_confirmation p{margin-bottom:1em;}.dispute .buttons .button{float:none;}.error_message{color:#990000;background-color:#FCF2F2;color:#990000;border:1px solid #990000;padding:10px;margin-bottom:10px;list-style-type:disc;list-style-position:inside;}.ui-datepicker-trigger{position:relative;top:6px;}.dispute_initiation h1{margin-bottom:20px;}.disputable_listings_container{border:1px solid #999;padding:10px;margin-bottom:10px;overflow:scroll;max-height:264px;}.disputable_listings{width:100%;max-height:300px;overflow-x:hidden;overflow-y:scroll;}.disputable_listings h4{margin-top:3px;border-bottom:1px solid #ddd;width:100%;}.disputable_listings ul{width:100%;}.disputable_listings li{overflow:hidden;border-bottom:1px solid #ddd;cursor:pointer;padding:6px;}.disputable_listings li:last-child{border-bottom:none;}.disputable_listings li.disputable_listing_selected{background-color:#f2f2f2;border:2px solid #e98346;cursor:pointer;padding:4px;margin-bottom:1px;}.disputable_listings li.disputable_listing_selected:last-child{margin-bottom:0;}.choose_listing{float:right;margin-top:3px;}.dispute_listing_image{float:left;width:70px;height:51px;}.dispute_listing_details{float:left;margin-left:8px;}.dispute_listing_lot_number{font-weight:bold;display:inline-block;}.dispute_listing_dispute_deadline{font-weight:bold;}.disputed_listing{background-color:#e1f7de;border:1px solid #005500;padding:12px;overflow:hidden;margin-bottom:1em;}.dispute_detail_form p{margin-bottom:1em;}.dispute_detail_form .form_control{margin-bottom:20px}.dispute_detail_form label{display:block;margin:0 0 5px 0;font-weight:bold;}.dispute_detail_form label .required_field{color:#990000;}.dispute_detail_form select{width:100%;}.dispute_detail_form textarea{width:100%;height:100px;color:#333333;padding:0;}.dispute_detail_form .datepicker{width:397px;}.dispute_detail_form .ui-datepicker-trigger{cursor:pointer;}.dispute_detail_form .help_text{font-size:.9em;}.dispute_detail .dispute_listing_details{max-width:288px;}.dispute_file_container{display:inline-block;position:relative;margin:0 18px 18px 0;width:172px;height:164px;background-color:#f2f2f2;float:left;}.dispute_file{margin:4px;border:1px solid #dddddd;height:154px;}.dispute_file_icon{text-align:center;font-size:.8em;position:absolute;top:50%;transform:translateY(-50%);padding:20px;width:122px;}.dispute_file_close{background-color:#bbbbbb;color:#fff;padding:2px 3px 0;position:absolute;right:0;cursor:pointer;margin:0!important;line-height:18px!important;}.characters_remaining span{font-weight:bold;}.dispute_confirmation p{margin-bottom:1em;}.dispute .buttons .button{float:none;}.error_message{color:#990000;background-color:#FCF2F2;color:#990000;border:1px solid #990000;padding:10px;margin-bottom:10px;list-style-type:disc;list-style-position:inside;}.ui-datepicker-trigger{position:relative;top:6px;}.ac_results{padding:0px;border:1px solid black;background-color:white;overflow:hidden;overflow-x:hidden;overflow-y:hidden;z-index:99999;}.ac_results ul{list-style-position:outside;list-style:none;padding:0;margin:0;}.ac_results li{margin:0px;padding:2px 5px;cursor:default;display:block;font:menu;font-size:12px;line-height:25px;overflow:hidden;}.ac_loading{background:white url('indicator.gif') right center no-repeat;}.ac_odd{background-color:#eee;}.ac_over{background-color:#0A246A;color:white;}
h1,h2,h3,h4,h5,h6{color:#336699;}
a:link,a:visited,a:active{color:#006699;}
a:hover{color:#5c7644;}
div#branding h1{background:transparent url(../images/logo.png) no-repeat;}.sf-menu li{background:transparent url('../images/Nav/NavToolsBackground.png') repeat-x;color:#154a8f;}.sf-menu li a:hover{background:transparent url('../images/Nav/NavToolsBackgroundHover.png') repeat-x;color:#003366;}.sf-menu li a:active{background:transparent url('../images/Nav/NavToolsBackgroundHover.png') repeat-x;color:#154a8f;}.sf-menu li li a{background-color:#e9eff4;color:#006699;}.sf-menu li.active li a{color:#006699;}.sf-menu li li.active a{color:#006699;}.sf-menu li li a:hover{color:#006699;}
a.button_venue_color,div.buttons button.button_venue_color,a.button:link,a.button:visited,a.button:hover,a.button:active{border-color:#aecf78;color:#fff;background:#aecf78 url('../images/Nav/ButtonBackgroundGreen.png') repeat-x;}
div.paging_next_back_active,div.paging_pages{border-color:#7ba27d;background-color:#fff;color:#7ba27d;}
div.paging_next_back_active:hover,div.paging_pages:hover,div.paging_page_selected{border-color:#9bb99c;background:#76a366 url('../images/Nav/ButtonBackgroundGreen.png') repeat-x;color:#fff;}
div.paging_next_back_inactive{border-color:#dad9de;background-color:#ddd;color:#999;}.tilehorizontal{border-color:#749e76;}.tile:hover{background:#e4ebf2;}.listingDetail h3{color:#666;}.listingDetail a{color:#669966;}.listingDetail a:hover{color:#006699;}.listingDetail a#whatisthis{color:#006699;}.listingDetail a:hover#whatisthis{color:#669966;}.listingDetail p#closing{color:#669966;}#venue_contact_us{position:absolute;top:5px;}#venue_contact_us a{font-weight:bold;font-size:1.4em;color:#fff;text-decoration:none;}#venue_contact_us a:hover{text-decoration:underline;}@media(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){div#branding h1{background:url("../images/logo-2x.png") no-repeat transparent;background-size:274px 75px;}}