div#print_header {
	border-bottom: solid #000 1px;
	display: block; }

div#site_info {
	border-top: solid #000 1px; }

div#venue_header, div#header, div#nav, div#bread_crumb_bar, div#coldbox_message_bar, div#nav_supplement, p#powered_by, span.ICS_Reminder, ul.jquery_tab_row, a#whatisthis, ul#nav_sponsors {
	display: none;
	height: 0px; }