<!-- X-Powered-By: PHP/5.4.15
Set-Cookie: XDEBUG_SESSION=phpd; expires=Wed, 07-Sep-2016 13:33:27 GMT; path=/
Content-type: text/html -->

<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: SERVER_ADDR in E:\OpenServer\domains\localhost\auction\include\db_connect.php on line <i>12</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>2.2632</td><td bgcolor='#eeeeec' align='right'>140952</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='E:\OpenServer\domains\localhost\auction\scraper.php' bgcolor='#eeeeec'>..\scraper.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>2.2805</td><td bgcolor='#eeeeec' align='right'>564912</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'E:\OpenServer\domains\localhost\auction\include\db_connect.php'</font> )</td><td title='E:\OpenServer\domains\localhost\auction\scraper.php' bgcolor='#eeeeec'>..\scraper.php<b>:</b>13</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.2805</td><td bgcolor='#eeeeec' align='right'>564928</td><td bgcolor='#eeeeec'>db_connect(  )</td><td title='E:\OpenServer\domains\localhost\auction\include\db_connect.php' bgcolor='#eeeeec'>..\db_connect.php<b>:</b>31</td></tr>
</table></font>
<br />
<font size='1'><table class='xdebug-error xe-notice' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Notice: Undefined index: HTTP_HOST in E:\OpenServer\domains\localhost\auction\include\db_connect.php on line <i>12</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>2.2632</td><td bgcolor='#eeeeec' align='right'>140952</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='E:\OpenServer\domains\localhost\auction\scraper.php' bgcolor='#eeeeec'>..\scraper.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>2.2805</td><td bgcolor='#eeeeec' align='right'>564912</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'E:\OpenServer\domains\localhost\auction\include\db_connect.php'</font> )</td><td title='E:\OpenServer\domains\localhost\auction\scraper.php' bgcolor='#eeeeec'>..\scraper.php<b>:</b>13</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.2805</td><td bgcolor='#eeeeec' align='right'>564928</td><td bgcolor='#eeeeec'>db_connect(  )</td><td title='E:\OpenServer\domains\localhost\auction\include\db_connect.php' bgcolor='#eeeeec'>..\db_connect.php<b>:</b>31</td></tr>
</table></font>
<br />
<font size='1'><table class='xdebug-error xe-fatal-error' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Fatal error: Call to undefined function mysql_connect() in E:\OpenServer\domains\localhost\auction\include\db_connect.php on line <i>14</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>2.2632</td><td bgcolor='#eeeeec' align='right'>140952</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='E:\OpenServer\domains\localhost\auction\scraper.php' bgcolor='#eeeeec'>..\scraper.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>2.2805</td><td bgcolor='#eeeeec' align='right'>564912</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'E:\OpenServer\domains\localhost\auction\include\db_connect.php'</font> )</td><td title='E:\OpenServer\domains\localhost\auction\scraper.php' bgcolor='#eeeeec'>..\scraper.php<b>:</b>13</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>2.2805</td><td bgcolor='#eeeeec' align='right'>564928</td><td bgcolor='#eeeeec'>db_connect(  )</td><td title='E:\OpenServer\domains\localhost\auction\include\db_connect.php' bgcolor='#eeeeec'>..\db_connect.php<b>:</b>31</td></tr>
</table></font>
